<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>такси и каршеринг</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../template/css/style.css">
  
  <script src="/WEb-taxi/template/js/script.js" defer></script>
</head>
<body>
  <nav class=" navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a href="#">
        <img src="/WEb-taxi/template/media/Rectangle 30.svg" class="d-inline-block align-top" alt="Логотип">
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Главная </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Галлирея</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Связаться с нами</a>
                    </li>                     
                </ul>
            </div>
        </div>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="/WEb-taxi/template/media/Rectangle 8.jpg" style="width: 100%;" alt="">
          <div class="overlay">
            <a href="#">Летний промокод на первую поездку</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="/WEb-taxi/template/media/Rectangle 9.jpg" style="width: 100%;" alt="">
          <div class="overlay">
            <a href="#">Присоединяйся к команде уже сегодня</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="/WEb-taxi/template/media/Rectangle 10.jpg" style="width: 100%;" alt="">
          <div class="overlay">
            <a href="#">Решим все трудности с переездом</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="/WEb-taxi/template/media/Rectangle 11.jpg" style="width: 100%;" alt="">
          <div class="overlay">
            <a href="#">Такси для вашего бизнеса</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Form and Map -->
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <form>
            <div class="card form">
              <div class="card-body">
                <div class="container from-to-stop">
                    <div class="form-group">
                        <label for="from">Откуда:</label>
                        <input type="text" class="form-control" id="from" placeholder="Укажите местоположение">
                    </div>
                    <div class="stops-container">
                        
                        <!-- Здесь будут отображаться поля для мест остановок -->
                    </div>
                    <div class="form-group">
                        <label for="to">Куда:</label>
                        <input type="text" class="form-control" id="to" placeholder="Укажите куда поедем">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="addStop">+ Добавить остановку</button>
                    </div>
                </div>
            </div>

            <div class="card-body form">
              <div class="card-deck">
                  <div class="card car" onclick="selectCar(this)">
                      <img src="/WEb-taxi/template/media/Rectangle 24.svg" class="card-img-top" alt="Car 1">
                      <div class="card-body">
                          <p class="card-text">от 307 ₽</p>
                      </div>
                  </div>
                  <div class="card car" onclick="selectCar(this)">
                      <img src="/WEb-taxi/template/media/Rectangle 19.svg" class="card-img-top" alt="Car 2">
                      <div class="card-body">
                          <p class="card-text">от 354 ₽</p>
                      </div>
                  </div>
                  <div class="card car" onclick="selectCar(this)">
                    <img src="/WEb-taxi/template/media/Rectangle 15.svg" class="card-img-top" alt="Car 1">
                    <div class="card-body">
                        <p class="card-text">от 367 ₽</p>
                    </div>
                </div>
                <div class="card car" onclick="selectCar(this)">
                    <img src="/WEb-taxi/template/media/Rectangle 13.svg" class="card-img-top" alt="Car 2">
                    <div class="card-body">
                        <p class="card-text">от 327 ₽</p>
                    </div>
                </div>
                  <!-- Оставшиеся карточки машин -->
                </div>
            </div>
                <div class="card-body">
                  <div class="container pay-form">
                    <div class="form-group row">
                        <label for="paymentMethod" class="col-sm-6 col-form-label">Способ оплаты:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="paymentMethod">
                                <option value="cash">Наличные</option>
                                <option value="card">Карта</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="promoCode" class="col-sm-6 col-form-label">Промокод:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="promoCode" placeholder="Введите промокод">
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="nextMan" class="col-sm-6 col-form-label">Заказ другому человеку:</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="promoCode" placeholder="Введите промокод">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="promoCode" class="col-sm-6 col-form-label">Комментарий водителю:</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="promoCode" placeholder="Введите комментарий">
                      </div>
                  </div>
                </div>
              </div>
    
            </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="map-container">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa58a52543316c669ab592425a91786e00991ad02a267dffb13b2ab6cc5d095b9&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer mt-4">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <h5>Пользователям</h5>
          <ul class="list-unstyled">
            <li><a href="#">Скачать приложение</a></li>
            <li><a href="#">Написать в поддержку</a></li>
            <li><a href="#">Узнать о безопасности</a></li>
            <li><a href="#">Полезные советы</a></li>
            <li><a href="#">Новости сервиса</a></li>
          </ul>
        </div>
        <div class="col-2">
          <h5>Водителям</h5>
          <ul class="list-unstyled">
            <li><a href="#">Стать водителем в парк</a></li>
            <li><a href="#">Стать самозанятым</a></li>
            <li><a href="#">Стать ИП-водителем</a></li>
            <li><a href="#">Стать курьером</a></li>
            <li><a href="#">Арендовать авто</a></li>
          </ul>
        </div>
        <div class="col-2">
          <h5>Партнёрам</h5>
          <ul class="list-unstyled">
            <li><a href="#">Подключить таксопарк</a></li>
            <li><a href="#">Расширить таксопарк</a></li>
          </ul>
        </div>
        <div class="col-2">
          <h5>Подпишитесь на нас</h5>
          <ul class="list-unstyled">
              <li><a href="#">Вконтакте<img src="/WEb-taxi/template/media/Rectangle 31.svg" alt="Вконтакте"></a></li>
              <li><a href="#">Telegram<img src="/WEb-taxi/template/media/Rectangle 32.svg" alt="Telegram"></a></li>
          </ul>
      </div>
        <div class="col-3">
          <h5>Подпишитесь на рассылку</h5>
          <form>
              <div class="form-group">
                  <input type="email" class="form-control" id="emailInput" placeholder="Введите ваш email">
              </div>
              <button type="submit" class="btn btn-primary">Подписаться</button>
          </form>
        </div>
      </div>
    </div>
</footer>

  <!-- Bootstrap JavaScript and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>