<footer class="footer ">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <h5>Пользователям</h5>
          <ul class="list-unstyled">
            <li><a href="#">Скачать приложение</a></li>
            <li><a href="#" data-toggle="modal" data-target="#supportChatModal">Написать в поддержку</a></li>
            <li><a href="#">Узнать о безопасности</a></li>
            <li><a href="#">Полезные советы</a></li>
            <li><a href="#">Новости сервиса</a></li>
          </ul>
        </div>
        <div class="col-3">
          <h5>Водителям</h5>
          <ul class="list-unstyled">
            <li><a href="#">Стать водителем в парк</a></li>
            <li><a href="#">Стать самозанятым</a></li>
            <li><a href="#">Стать ИП-водителем</a></li>
            <li><a href="#">Стать курьером</a></li>
            <li><a href="#">Арендовать авто</a></li>
          </ul>
        </div>
        
        <div class="col-3">
          <h5>Подпишитесь на нас</h5>
          <ul class="list-unstyled">
              <li><a href="#">Вконтакте<img src="/media/Rectangle 31.svg" alt="Вконтакте"></a></li>
              <li><a href="#">Telegram<img src="/media/Rectangle 32.svg" alt="Telegram"></a></li>
          </ul>
      </div>
        <div class="col-3">
          <h5>Подпишитесь на рассылку</h5>
          <form>
              <div class="form-group">
                  <input type="email" class="form-control" id="emailInput" placeholder="Введите ваш email">
              </div>
              <button type="submit" class="btn btn-primary">Подписаться</button>
          </form>
        </div>
      </div>
    </div>
</footer>