
      <style>
      
.map-container,
      #container{
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    </style>
  <main class="container mt-4">
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="/media/Rectangle 8.jpg" style="width: 100%;" alt="">
          <div class="overlay">
            <a href="#">Летний промокод на первую поездку</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="/media/Rectangle 9.jpg" style="width: 100%;" alt="">
          <div class="overlay">
            <a href="#">Присоединяйся к команде уже сегодня</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="/media/Rectangle 10.jpg" style="width: 100%;" alt="">
          <div class="overlay">
            <a href="#">Решим все трудности с переездом</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="/media/Rectangle 11.jpg" style="width: 100%;" alt="">
          <div class="overlay">
            <a href="#">Такси для вашего бизнеса</a>
          </div>
        </div>
      </div>
    </div>
  </main>

  <main class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <form>
            <div class="card form">
              <div class="card-body">
                <div class="container from-to-stop">
                    <div class="form-group">
                        <label for="from">Откуда:</label>
                        <input type="text" class="form-control" id="from" placeholder="Укажите местоположение"  oninput="showOnMap('from', this.value)">
                    </div>
                    <div class="stops-container">
                        
                        <!-- Здесь будут отображаться поля для мест остановок -->
                    </div>
                    <div class="form-group">
                        <label for="to">Куда:</label>
                        <input type="text" class="form-control" id="to" placeholder="Укажите куда поедем"  oninput="showOnMap('from', this.value)">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="addStop">+ Добавить остановку</button>
                    </div>
                </div>
            </div>

            <div class="card-body form">
              <div class="card-deck">
                  <div class="card car" onclick="selectCar(this)">
                      <img src="/media/Rectangle 24.svg" class="card-img-top" alt="Car 1">
                      <div class="card-body">
                          <p class="card-text">от 307 ₽</p>
                      </div>
                  </div>
                  <div class="card car" onclick="selectCar(this)">
                      <img src="/media/Rectangle 19.svg" class="card-img-top" alt="Car 2">
                      <div class="card-body">
                          <p class="card-text">от 354 ₽</p>
                      </div>
                  </div>
                  <div class="card car" onclick="selectCar(this)">
                    <img src="/media/Rectangle 15.svg" class="card-img-top" alt="Car 1">
                    <div class="card-body">
                        <p class="card-text">от 367 ₽</p>
                    </div>
                </div>
                <div class="card car" onclick="selectCar(this)">
                    <img src="/media/Rectangle 13.svg" class="card-img-top" alt="Car 2">
                    <div class="card-body">
                        <p class="card-text">от 327 ₽</p>
                    </div>
                </div>
                  <!-- Оставшиеся карточки машин -->
                </div>
            </div>
                <div class="card-body">
                  <div class="container pay-form">
                    <div class="form-group row">
                        <label for="paymentMethod" class="col-sm-6 col-form-label">Способ оплаты:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="paymentMethod">
                                <option value="cash">Наличные</option>
                                <option value="card">Карта</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="promoCode" class="col-sm-6 col-form-label">Промокод:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="promoCode" placeholder="Введите промокод">
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="nextMan" class="col-sm-6 col-form-label">Заказ другому человеку:</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="promoCode" placeholder="Введите промокод">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="promoCode" class="col-sm-6 col-form-label">Комментарий водителю:</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="promoCode" placeholder="Введите комментарий">
                      </div>
                  </div>
                </div>
              </div>
    
            </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="map-container">
            <div id="container">
    <script src="https://mapgl.2gis.com/api/js/v1"></script>

        <script src="https://unpkg.com/@2gis/mapgl-directions@^2/dist/directions.js"></script>
      <script>



        const map = new mapgl.Map('container', {
          center: [34.347834, 53.23814], // Replace with the desired coordinates
          zoom: 7, // Set the initial zoom level
          key: '928a3853-3108-4379-861a-a4f22ca43580' // Replace with your 2GIS API key
        });
const marker = new mapgl.Marker(map, {
    coordinates: [34.347834, 53.23814],
});
const marker1 = new mapgl.Marker(map, {
    coordinates: [34.364432, 53.243459],
});
const marker2 = new mapgl.Marker(map, {
    coordinates: [34.34227, 53.249356],
});


const directions = new mapgl.Directions(map, {
                directionsApiKey: '928a3853-3108-4379-861a-a4f22ca43580',
            });
            const markers = [];
let firstPoint;
            let secondPoint;
            // A current selecting point
            let selecting = 'a';
            const buttonText = ['Choose two points on the map', 'Reset points'];

            const controlsHtml = `<button id="reset" disabled>${buttonText[0]}</button> `;
            new mapgl.Control(map, controlsHtml, {
                position: 'topLeft',
            });
            const resetButton = document.getElementById('reset');

            resetButton.addEventListener('click', function() {
                selecting = 'a';
                firstPoint = undefined;
                secondPoint = undefined;
                directions.clear();
                this.disabled = true;
                this.textContent = buttonText[0];
            });

            map.on('click', (e) => {
                const coords = e.lngLat;

                if (selecting != 'end') {
                    // Just to visualize selected points, before the route is done
                    markers.push(
                        new mapgl.Marker(map, {
                            coordinates: coords,
    icon: 'https://docs.2gis.com/img/dotMarker.svg',
                        }),
                    );
                }

    if (selecting === 'a') {
      firstPoint = coords;
      document.getElementById('from').value = `Широта: ${coords[1]}, Долгота: ${coords[0]}`; // Set the "Откуда" input field
      selecting = 'b';
    } else if (selecting === 'b') {
      secondPoint = coords;
      document.getElementById('to').value = `Широта: ${coords[1]}, Долгота: ${coords[0]}`; // Set the "Куда" input field
      selecting = 'end';
    }

                // If all points are selected — we can draw the route
                if (firstPoint && secondPoint) {
                    directions.carRoute({
                        points: [firstPoint, secondPoint],
                    });
                    markers.forEach((m) => {
                        m.destroy();
                    });
                    resetButton.disabled = false;
                    resetButton.textContent = buttonText[1];
                }
            });
            



            function showOnMap(type, address) {
        if (address.trim() !== '') {
            const geocodeService = new mapgl.GeocodeService();
            geocodeService.geocode(address).then(result => {
                if (result && result.length > 0) {
                    const coordinates = result[0].feature.geometry.centroid;
                    if (type === 'from') {
                        clearMarkersAndAddNewMarker('from', coordinates);
                    } else if (type === 'to') {
                        clearMarkersAndAddNewMarker('to', coordinates);
                    }
                }
            });
        }
    }

    function clearMarkersAndAddNewMarker(type, coordinates) {
        map.removeMarkers(); // Удаляем существующие метки
        map.addMarker({ coordinates: coordinates }); // Добавляем новую метку
    }
    </script>
    </div>
      </div>
    </div>
  </main>
<a name="about"></a>
<section class="mt-4 d-flex align-items-center justify-content-center" >
  <div class="bg-light text-center w-100">
    <div class="container pt-4">
      <h2>Наши преимущества</h2>
      <div class="row justify-content-center pt-4">
        <div class="col-sm-4" style="max-width: 300px;">
          <img src="/media/Rectangle 77.svg" alt="" class="img-about">
          <p >Наши машины проходят техосмотр каждую неделю</p>
        </div>
        <div class="col-sm-4" style="max-width: 300px;">
          <img src="/media/Rectangle 78.svg" alt="" class="img-about">
          <p >Мы проводим медосмотр водителей перед каждым рейсом</p>
        </div>
        <div class="col-sm-4" style="max-width: 300px;">
          <img src="/media/Rectangle 79.svg" alt="" class="img-about">
          <p >Права водителей - российского образца</p>
        </div>
        <div class="col-sm-4" style="max-width: 300px;">
          <img src="/media/Rectangle 80.svg" alt="" class="img-about">
          <p >В нашем автопарке автомобили не старше 5 лет</p>
        </div>
        <div class="col-sm-4" style="max-width: 300px;">
          <img src="/media/Rectangle 81.svg" alt="" class="img-about">
          <p >У каждого водителя есть детское кресло</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="d-flex align-items-center justify-content-center">
  <div class="bg-light text-center w-100 pb-4">
    <div class="container pt-4">
      <h2>Акции</h2>
      <div class="row justify-content-around pt-4">
        <div class="col-sm-3">
          <div class="card card-about text-center bg-light h-100 d-flex flex-column">
            <img src="/media/Rectangle 83.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-4">Скидка за внимательность</h5>
              <p class="card-text text-sm">В салоне такси спрятана карточка с промокодом. Активируй её на сайте и получи скидку 10% на следующую поездку.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card card-about text-center bg-light h-100 d-flex flex-column">
            <img src="/media/Rectangle 83 (3).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-4">Летний промокод</h5>
              <p class="card-text text-sm">Вводи промокод SUMMER10 и получи скидку 10% на первую поездку.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card card-about text-center bg-light h-100 d-flex flex-column">
            <img src="/media/Rectangle 83 (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-4">Оплачивай с миром</h5>
              <p class="card-text text-sm">Оплачивай поездки картой МИР и получай кэшбек 5%.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card card-about text-center bg-light h-100 d-flex flex-column">
            <img src="/media/Rectangle 83 (2).jpg" class="card-img-top card-img-bottom" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-4">Помощь с переездом</h5>
              <p class="card-text text-sm">По промокоду PEREEZD10 получи скидку 10% на первый час заказа грузового такси.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


