<main class="container mt-4 h-100">
    <div class="row ">
        <div class="card bg-light col-12 mb-3">
            <div class="card-body">
                <div class="d-flex">
                    <div class="col-12 d-flex justify-content-between align-items-center">
                        <div class="d-flex col-3 align-items-center">
                            <img src="/media/user.jpg" class="rounded-circle me-3" alt="Avatar" style="width: 50px; height: 50px;">
                            <h5 class="card-title m-4">Username</h5>
                        </div>
                        <div class="d-flex col-9 justify-content-between align-items-center">
                            <div class="d-flex justify-content-between mt-4 col-10">
                                <div class="d-flex justify-content-between align-items-center col-12">
                                    <p>От куда:<br>Площадь Ленина</p>
                                    <p>статус: <br>ожидание</p>
                                    <p>Куда: <br>Станке-Димитрова 3</p>
                                </div>
                            </div>
                            <button class="btn btn-primary rounded-pill position-absolute col-2 p-4" style="right: 0;top: 0;" type="button" data-toggle="modal" data-target="#tripAHistoryModal">
                                <img src="/media/iconModel/email-download-svgrepo-com.svg" class="supportImg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-light col-12 mb-3">
            <div class="card-body">
                <div class="d-flex">
                    <div class="col-12 d-flex justify-content-between align-items-center">
                        <div class="d-flex col-3 align-items-center">
                            <img src="/media/user.jpg" class="rounded-circle me-3" alt="Avatar" style="width: 50px; height: 50px;">
                            <h5 class="card-title m-4">Username</h5>
                        </div>
                        <div class="d-flex col-9 justify-content-between align-items-center">
                            <div class="d-flex justify-content-between mt-4 col-10">
                                <div class="d-flex justify-content-between align-items-center col-12">
                                    <p>От куда:<br>Площадь Ленина</p>
                                    <p>статус: <br>в пути</p>
                                    <p>Куда: <br>Станке-Димитрова 3</p>
                                </div>
                            </div>
                            <button class="btn btn-primary rounded-pill position-absolute col-2 p-4" style="right: 0;top: 0;" type="button" data-toggle="modal" data-target="#tripAHistoryModal">
                                <img src="/media/iconModel/email-download-svgrepo-com.svg" class="supportImg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-light col-12 mb-3">
            <div class="card-body">
                <div class="d-flex">
                    <div class="col-12 d-flex justify-content-between align-items-center">
                        <div class="d-flex col-3 align-items-center">
                            <img src="/media/user.jpg" class="rounded-circle me-3" alt="Avatar" style="width: 50px; height: 50px;">
                            <h5 class="card-title m-4">Username</h5>
                        </div>
                        <div class="d-flex col-9 justify-content-between align-items-center">
                            <div class="d-flex justify-content-between mt-4 col-10">
                                <div class="d-flex justify-content-between align-items-center col-12">
                                    <p>От куда:<br>Площадь Ленина</p>
                                    <p>статус: <br>отмена авто</p>
                                    <p>Куда: <br>Станке-Димитрова 3</p>
                                </div>
                            </div>
                            <button class="btn btn-primary rounded-pill position-absolute col-2 p-4" style="right: 0;top: 0;" type="button" data-toggle="modal" data-target="#tripAHistoryModal">
                                <img src="/media/iconModel/email-download-svgrepo-com.svg" class="supportImg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal" id="tripAHistoryModal">
    <div class="modal-dialog "> 
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body bg-light card m-3">
                <div class="d-flex justify-content-between">
                        <div class="d-flex  ">
                            <img src="/media/user.jpg" class="rounded-circle me-3" alt="Avatar" style="width: 50px; height: 50px;">
                            <h5 class="card-title m-4">Username</h5>
                        </div> 
                        <div class="d-flex  ">
                            <p class="p-4 ">Король Б.А. 22.08.2002</p>
                        </div> 
                </div>                  
                <table class="d-flex col-12 justify-content-center p-4 mb-1">
 <tr>
        <th>Дата начала поездки</th>
        <td>01.01.2024</td>
    </tr>
    <tr>
        <th>Дата окончания поездки</th>
        <td>15.01.2024</td>
    </tr>
    <tr>
        <th>Номер заказа такси</th>
        <td>12345</td>
    </tr>
    <tr>
        <th>Стоимость поездки</th>
        <td>20000руб.</td>
    </tr>
    <tr>
        <th>Модель автомобиля</th>
        <td>Toyota Camry</td>
    </tr>
    <tr>
        <th>Номер автомобиля</th>
        <td>ABC123</td>
    </tr>
    <tr>
        <th>Место начала поездки</th>
        <td>Place A</td>
    </tr>
    <tr>
        <th>Место окончания поездки</th>
        <td>Place B</td>
    </tr>
    <tr>
        <th>Время начала</th>
        <td>12:00</td>
    </tr>
    <tr>
        <th>Время окончания</th>
        <td>02:00</td>
    </tr>
    <tr>
        <th>Способ оплаты</th>
        <td>Кредитная карта</td>
    </tr>
                </table>
                <div class="d-flex justify-content-between">
                        <div class="d-flex  ">
                            <img src="/media/user.jpg" class="rounded-circle me-3" alt="Avatar" style="width: 50px; height: 50px;">
                            <h5 class="card-title m-4">Draiver</h5>
                        </div> 
                        <div class="d-flex  ">
                            <p class="p-4 ">Махмуд Б.А. 12.05.1992</p>
                        </div> 
                </div>    
                <div class="d-flex justify-content-between mt-3">
                    <button type="button" class="btn btn-primary" onclick="contactDriver()">Связаться с водителем</button>
                    <button type="button" class="btn btn-danger" onclick="cancelTrip()">Отменить заказ</button>
                </div>   
            </div>
        </div>
    </div>
</div>
</main>