*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.map-container {
    height: 400px;
    border: 1px solid #ccc;
  }

.card{
    background-color: rgba(0,0,0,.125);
    border-radius: 1.25rem;
}
.form{
    background-color: #ccc;
}