<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">        
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <a href="#">
            <img src="/media/Rectangle 30.svg" class="d-inline-block align-top" alt="Логотип">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auto">Аренда авто</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Связаться с нами</a>
                </li>
            </ul>
            <ul class="navbar-nav "  style="display: none;">
                <li class="nav-item">
                    <a class="nav-link" href="/reg">Зарегистрироваться</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Войти</a>
                </li>
            </ul>
            <ul class="navbar-nav user">
                <li class="nav-item user-item">
                    Имя Пользователя
                    <div class="userDetails">
                        <ul>
                            <li><a href="/edit-profile"><img src="media/navbar-icon/Rectangle 35.svg" class="align-middle"> Изменить профиль</a></li>
                            <li><a href="/promo-codes"><img src="media/navbar-icon/Ellipse 10.svg" class="align-middle"> Мои промокоды</a></li>
                            <li><a href="/trip-history"><img src="media/navbar-icon/Rectangle 34.svg" class="align-middle"> История поездок</a></li>
                            <li><a href="/support-chat"><img src="media/navbar-icon/Rectangle 36.svg" class="align-middle"> Чат с поддержкой</a></li>
                            <li><a href="/logout"><img src="media/navbar-icon/Rectangle 37.svg" class="align-middle"> Выйти</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <div class="userPhoto rounded-circle border">
                            <img src="media/user.jpg" class="rounded-circle" alt="User Photo">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>